:root {
  /* Primary */
  --color-primary-10: #eaf0f7;
  --color-primary-20: #d4e1ef;
  --color-primary-30: #bfcee7;
  --color-primary-40: #a9bddd;
  --color-primary-50: #94abd4;
  --color-primary-60: #B0C4DE; /* 主色 */
  --color-primary-70: #7a9ac2;
  --color-primary-80: #6488b9;
  --color-primary-90: #4e75af;
  --color-primary-100: #3863a6;

  /* Secondary */
  --color-secondary-10: #e3e7f0;
  --color-secondary-20: #c7cfe1;
  --color-secondary-30: #abb7d2;
  --color-secondary-40: #8f9fc3;
  --color-secondary-50: #7387b4;
  --color-secondary-60: #2A4B7C; /* 次要色 */
  --color-secondary-70: #3b5c8d;
  --color-secondary-80: #4c6d9e;
  --color-secondary-90: #5d7eaf;
  --color-secondary-100: #6e8fc0;

  /* Complementary (Accent) */
  --color-accent-10: #fffdf9;
  --color-accent-20: #fffaf3;
  --color-accent-30: #fff7ed;
  --color-accent-40: #fff4e7;
  --color-accent-50: #fff1e1;
  --color-accent-60: #FFEBCD; /* 強調色 */
  --color-accent-70: #ffe8c7;
  --color-accent-80: #ffe5c1;
  --color-accent-90: #ffe2bb;
  --color-accent-100: #ffdfb5;

  /* Error */
  --color-error-10: #fff2f0;
  --color-error-20: #fff1f0;
  --color-error-30: #ffccc7;
  --color-error-40: #ffa39e;
  --color-error-50: #ff7875;
  --color-error-60: #ff4d4f;
  --color-error-70: #d9363e;
  --color-error-80: #b32430;
  --color-error-90: #8c1523;
  --color-error-100: #660e1b;
  

  /* Neutral - White */
  --color-white: #ffffff;
  --color-white-95: #f9f9f9;
  --color-white-90: #f1f1f1;
  --color-white-80: #e0e0e0;
  --color-white-70: #cccccc;
  --color-white-60: #b3b3b3;
  --color-white-50: #999999;
  --color-white-40: #808080;
  --color-white-30: #666666;
  --color-white-20: #4d4d4d;
  --color-white-10: #333333;

  /* Neutral - Black */
  --color-black-10: #dddddd;
  --color-black-20: #bbbbbb;
  --color-black-30: #a2a2a2;
  --color-black-40: #888888;
  --color-black-50: #757575;
  --color-black-60: #585858;
  --color-black-70: #444444;
  --color-black-80: #2e2e2e;
  --color-black-90: #222222;
  --color-black: #1a1a1a;


  /* Shadow */
  --color-shadow: rgba(0, 0, 0, 0.3);

  /* Opacity */
  --color-opacity-30: rgba(0, 0, 0, 0.3);
  --color-opacity-50: rgba(0, 0, 0, 0.5);
  --color-opacity-70: rgba(0, 0, 0, 0.7);

  /* Border Radius */
  --rounded-none: 0;
  --rounded-base: 8px;
  --rounded-small: 4px;
  --rounded-round: 12px;
  --rounded-circle: 100%;

  /* Typography */
  --font-family-sans: 'Open Sans', 'Noto Sans TC', sans-serif;

  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Breakpoint */
  --breakpoint-pad: 768px;
  --breakpoint-laptop: 1024px;
  --breakpoint-desktop: 1280px;
}
